@tailwind base;
@tailwind components;
@tailwind utilities;

/* Use this route to add CSS rules to ALL routes in app */
/* Good pracice to add to top-level component */

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
